.feedback {
    background-image: url("../img/cc1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
}

.feedback h2 {
    color: white;
}

.feedback__content {
    width: 70%;
    margin: 0 auto;
    padding: 32px;
    border: 2px solid #ff0e83;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255,0.5);
}

.feedback__content i {
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}

.feedback__content p {
    line-height: 20px;
    letter-spacing: 3px;
}

.feedback__name {
    color: white;
    font-size: 16px;
    font-weight:700;
    padding: 10px 0;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: rgba(0, 0, 0, 0.5);
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span {
    background-color: black;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}