.number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.number__content {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number__item p:first-of-type {
    color: #4e2a84;
    font-size: 2rem;
    font-weight: 600;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 24px 0;
    letter-spacing: 4px;
}