.team {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #4e2a84;
}

.team h2 {
    color: white;
    margin: 0;
}

.team__list {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
}

.team__member img {
    width: 100%;
    height: 100%;
    display: block;
}

.team__member {

    position: relative;
}

.team__title {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    color: white;
    padding: 30px 20px;
    background-color: #ff0e83;
    opacity: 1;
    transition: all 0.5s;

}

.team__title h3, 
.team__detail h3{
    font-size: 1.3rem;
}

.team__list p, 
.team__detail p{
    font-size: 0.875rem;
    line-height: 1.8rem;
}


.team__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 100px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;

}

.team__detail h3 {
    color: #ff0e83;
}

.team__detail p:first-of-type {
    margin: 8px 0px;
}

.team__socials {
    margin-top: 15px;
}

.team__socials i {
    width: 37px;
    height: 37px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 37px;
    text-align: center;
    margin: 0 5px;
    transition: all 0.5s;
}

.team__socials i:hover {
    color: #ff0e83;
    border-color: rgba(255, 14, 131, 0.502);
}

.team__member:hover .team__detail{
    opacity: 1;
}

.team__member:hover .team__title{
    opacity: 0;
}